.home{
  width: 100vw;
  height: 100vh;
  background-color:#f2f2f2;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Inter";
  background-color:#f2f2f2;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.error{
  font-size: 25px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
  color: red;
}
.login__form > h1 {
  font-size: 25px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.login__form > input {
  min-width: 380px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-family: "Inter";
  border-radius: 2px;
  font-size: 15px;
}

.submit__btn {
  padding: 17px 30px;
  margin-top: 10px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  font-family: "Inter";
  border-radius: 3px;
}
.Header{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
  background-color:#808080;
}

.HeaderText{
  font-size: 2rem;
  line-height: 1.25rem;
  color:#f2f2f2;
  padding: 0.5rem 0;
}
.HeaderButton{
  border-radius: 1rem;
  background-color: #ff0000;
  padding: 1rem 1.25rem;
  color: white;
  font-size: 1.5rem;
  line-height: 1.25rem;
}
.DataDisplayGroup{
  display: flex;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.DataDisplay{
  margin-top: 50px;
  width: 25%;
  border-radius: 0.25rem;
  padding: 1px;
}


.NameHeader{
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.025em;
  color: #718096;
}
.NameList{
  margin-bottom: 10px;
  color: #4a5568;

}
